# vim: ft=sh
# shellcheck shell=sh

# # gpg-agent as ssh-agent
# unset SSH_AGENT_PID
# SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
# export SSH_AUTH_SOCK

# 1password-cli as ssh-agent
unset SSH_AGENT_PID
export SSH_AUTH_SOCK="$HOME/.1password/agent.sock"
