context.modules = [
    {
        name = libpipewire-module-loopback
        args = {
            node.description = "Virtual Mic"
            audio.position = [ FL FR ]
            capture.props = { media.class = "Audio/Sink" }
            playback.props = { media.class = "Audio/Source" }
        }
    }
]
