{% for dir in xdg_base_dir.system.data | default(['/usr/share', '/usr/local/share']) %}
append_envvar XDG_DATA_DIR '{{ dir }}'
{% endfor %}
export XDG_DATA_DIRS
{% for dir in xdg_base_dir.system.config | default(['/etc/xdg']) %}
append_envvar XDG_CONFIG_DIR '{{ dir }}'
{% endfor %}
export XDG_CONFIG_DIRS

export XDG_CONFIG_HOME="{{ xdg_base_dir.user.config | default('$HOME/.config') }}"
export XDG_CACHE_HOME="{{ xdg_base_dir.user.cache | default('$HOME/.cache') }}"
export XDG_DATA_HOME="{{ xdg_base_dir.user.data | default('$HOME/.local/share') }}"
export XDG_STATE_HOME="{{ xdg_base_dir.user.state | default('$HOME/.local/state') }}"
mkdir -p "$XDG_CONFIG_HOME" "$XDG_CACHE_HOME" "$XDG_DATA_HOME" "$XDG_STATE_HOME"

if [ -e "$XDG_CONFIG_HOME/user-dirs.dirs" ]
then
    set -a
    source "$XDG_CONFIG_HOME/user-dirs.dirs"
    set +a
fi
