# vim: ft=sh
# shellcheck shell=sh

# user info
export JA_GITHUB_USERNAME='liljaylj'
export JA_GITLAB_USERNAME='zhanibek'
export JA_BITBUCKET_USERNAME='liljaylj'

# directories
export JA_BIN_DIR="$HOME/.local/bin"
export JA_APPS_DIR="$HOME/Applications"
export JA_TMP_DIR="$HOME/tmp"

export JA_DEV_DIR="$HOME/Development"

export JA_GITLAB_DIR="$JA_DEV_DIR/gitlab.com"
export JA_GITLAB_HOME="$JA_GITLAB_DIR/$JA_GITLAB_USERNAME"

export JA_GITHUB_DIR="$JA_DEV_DIR/github.com"
export JA_GITHUB_HOME="$JA_GITHUB_DIR/$JA_GITHUB_USERNAME"

export JA_BITBUCKET_DIR="$JA_DEV_DIR/bitbucket.org"
export JA_BITBUCKET_HOME="$JA_BITBUCKET_DIR/$JA_BITBUCKET_USERNAME"

export JA_AUR_DIR="$JA_DEV_DIR/aur.archlinux.org"

export JA_ANSIBLE_CONFIG="$JA_GITHUB_HOME/ansible-arch-config"

export JA_MNT_DIR="/run/media/$USER"
