# select
export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS --bind 'ctrl-i:toggle-out,tab:toggle-out,btab:toggle-in,ctrl-a:select-all,ctrl-d:deselect-all,ctrl-t:toggle-all'"
# jump
export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS --bind 'ctrl-s:jump,ctrl-S:jump-accept'"
