#!/bin/sh
# Xsetup - run as root before the login dialog appears

# TODO: detect specific monitor by EDID
xrandr --output eDP1 --primary --mode 1920x1080 --pos 0x840 --output HDMI1 --mode 1920x1080 --pos 1920x0 --rotate right
