Server = https://es-mirror.chaotic.cx/$repo/$arch
Server = https://de-2-mirror.chaotic.cx/$repo/$arch
Server = https://fr-3-mirror.chaotic.cx/$repo/$arch

# CDN (delayed syncing)
# By: Fosshost
Server = https://cdn-mirror.chaotic.cx/$repo/$arch
