## Special CDN mirror (delayed syncing, expect some (safe to ignore) amount of 404s)
# Globally
# * By: Garuda Linux donators, hosted on Cloudflare R2
Server = https://cdn-mirror.chaotic.cx/$repo/$arch

# Automatic per-country routing of the mirrors below.
Server = https://geo-mirror.chaotic.cx/$repo/$arch
