{% if power_management.disable_wakeup_triggers is defined %}
{% for device in power_management.disable_wakeup_triggers %}
{% if device.comment is defined %}
# {{ device.comment }}
{% endif %}
ACTION=="add|change"{%
if device.vendor_id is defined
%}, ATTRS{idVendor}=="{{ device.vendor_id | lower }}"{% endif %}{%
if device.product_id is defined
%}, ATTRS{idProduct}=="{{ device.product_id | lower }}"{% endif %}{%
if device.name is defined
%}, ATTRS{name}=="{{ device.name }}"{% endif %}{%
if device.description is defined
%}, ATTRS{description}=="{{ device.description }}"{% endif %}, ATTR{power/wakeup}="disabled"
{% endfor %}
{% endif %}
