# vim: noet
#
# The Caddyfile is an easy way to configure your Caddy web server.
# https://caddyserver.com/docs/caddyfile
#
# Refer to the directive documentation for more options.
# https://caddyserver.com/docs/caddyfile/directives
#
{
	default_bind 127.0.0.1
	admin unix//run/caddy/admin.sock
}

https:// {
	tls internal {
		on_demand
	}
	respond 200
}

*.test, *.*.test,
*.localhost, *.*.localhost {
	tls internal {
		on_demand
	}
	reverse_proxy localhost:5413
}

# Import additional caddy config files in /etc/caddy/conf.d/
import /etc/caddy/conf.d/*
