[Resolve]
{% if nextdns.id is defined %}
DNS=45.90.28.0#{{ hostname }}-{{ nextdns.id }}.dns.nextdns.io
DNS=2a07:a8c0::#{{ hostname }}-{{ nextdns.id }}.dns.nextdns.io
DNS=45.90.30.0#{{ hostname }}-{{ nextdns.id }}.dns.nextdns.io
DNS=2a07:a8c1::#{{ hostname }}-{{ nextdns.id }}.dns.nextdns.io
FallbackDNS=1.1.1.2#cloudflare-dns.com 1.0.0.2#cloudflare-dns.com
FallbackDNS=9.9.9.9#dns.quad9.net
FallbackDNS=8.8.8.8#dns.google
DNSOverTLS=yes
{% endif %}
MulticastDNS=resolve
ReadEtcHosts=yes
