# vim: ft=yaml
# yaml-language-server: $schema=https://json.schemastore.org/traefik-v2.json

entryPoints:
  web:
    address: 127.0.0.1:5413
    forwardedHeaders:
      trustedIPs:
        - '127.0.0.1/32'
        - '::1/128'

api:
  # insecure: true
  dashboard: true

providers:
  file:
    filename: '/etc/traefik/dynamic-config.yml'
  docker:
    endpoint: 'unix:///var/run/docker.sock'
    defaultRule: Host(`{{'{{'}} normalize .Name }}.localhost`)
    exposedByDefault: false
    watch: true
