[Login]
HandlePowerKey={{ power_management.power_key | default('suspend') }}
HandlePowerKeyLongPress={{ power_management.power_key | default('poweroff') }}
HandleSuspendKey={{ power_management.power_key | default('suspend') }}
