[Login]
HandleLidSwitch={{ power_management.lid_switch | default('suspend') }}
HandleLidSwitchExternalPower={{ power_management.lid_switch | default('suspend') }}
HandleLidSwitchDocked={{ power_management.lid_switch | default('suspend') }}
