# Static table lookup for hostnames.
# See hosts(5) for details.

127.0.0.1		localhost
::1				localhost
127.0.1.1		{{ hostname }}.localdomain	{{ hostname }}

{% for host in extra_hosts %}
{{ host.ip }}	{{ [host.name] | flatten | join('\t') }}
{% endfor %}
