# vim: ft=sh
# shellcheck shell=sh

# workaround to be able to install plugins. now, installing vagrant plugins is
# impossible due to dependency versions mismatch
export VAGRANT_DISABLE_STRICT_DEPENDENCY_ENFORCEMENT=1
