[Unit]
Description=SSH key agent restart after graphical session
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user --no-block restart ssh-agent.service

[Install]
WantedBy=graphical-session.target
